extends /common/views/layout.pug
include /challenge/views/mixins/challenge_form

block content
  .section
    h2.text-lg.bold Admin Panel → Create Challenge
  .section
    +challenge_form(action="/admin/challenge/create")
