extends /common/views/layout.pug
include /common/views/mixins/card

block content
  div.section
    h1.text-xl Admin Panel → Challenges
  div.section.flex.flex-col.gap-5
    div
      a.btn-green(href="/admin/challenge/create") Create a new challenge
  .section
    table.submissions
      tr
        th Title
        th Date
      for challenge in challenges
        tr
          td
            a(href="/admin/challenge/" + challenge.id) #{challenge.title}
          td(title="#{formatDatetime(challenge.createdAt)}")  #{relativeTimeFromNow(challenge.createdAt)}
