extends /common/views/layout.pug

block content
  div.section
    h1.text-xl.bold Admin Panel → Challenges
  div.section.flex.flex-col.gap-5
    div
      a.btn-pink(href="/admin/challenge/create") Create a new challenge
    for challenge in challenges
      div.card.border-gray-2.flex.flex-col.gap-4
        p.text-lg.bold #{challenge.title}
        .divider
        a(href="/admin/challenge/" + challenge.id) More