extends /common/views/layout.pug

block content
  div.section
    h2.text-lg.bold Admin Panel → Challenges →
    h1.text-xl.bold #{challenge.title}
  .section
    a(href="/admin/challenge/" + challenge.id + "/edit") Edit
  .section 
    h2.text-lg.bold Statistics 
    div coming soon
  