extends /common/views/layout.pug
include /admin/views/challenge/mixins/admin_challenge_headers

block content
  +admin_challenge_headers(challenge, "Admin Panel")
  .section 
    h2.text-lg Statistics (Coming Soon)
    div Nothing here... yet :-)
  