extends /common/views/layout.pug

block content
  .section
    h1.text-xl Thank you for submitting your request.
  .section If a user with that email exists, we will send an email containing a password reset link.
