mixin challenge_headers()
  .section 
    .flex.flex-row.gap-2
      a(href="/challenge/" + challenge.id).btn-white Challenge
      a(href="/challenge/" + challenge.id + "/gallery").btn-white Gallery
      a(href="/challenge/" + challenge.id + "/submit").btn-pink Submit
      if isAdmin
        a(href="/admin/challenge/" + challenge.id).btn-red Admin View