mixin challenge_headers()
  .section 
    .flex.flex-row.gap-2
      a(href="/challenge/" + challenge.id + "/submit").btn-pink Submit
      a(href="/challenge/" + challenge.id + "/gallery").btn-white Gallery
      if isAdmin
        a(href="/admin/challenge/" + challenge.id + "/edit").btn-red Edit