extends layout.pug

block content
  .section Mintbean helps developers and designers get hired based on their skillset. As a side effect, it also helps grow their skills and learn to love programming.
  .section Mintbean's hiring challenges are, and will be, free forever for developers and designers.
  .section 👉 The next hiring challenge will be released on Jan 5th
  for challenge in challenges
    div.section
      div(style="padding: 12px 24px; border: 2px solid gray; border-radius: 10px; display: flex; flex-direction: column; gap: 24px;")
        div.text-lg #{challenge.title}
        div #{challenge.description}
        a(href="#") View