html 
  head 
    title Mintbean
    link(rel="stylesheet", href="reset.css")
    link(rel="stylesheet", href="base.css")
    link(rel="stylesheet", href="utils.css")
  body
    div(style="padding: 12px 24px 12px 24px")
      div
        h1.text-xl Mintbean
        h2.text-lg Hiring challenges for junior tech folks.
        div
          a(href="/") Home
          | |
          a(href="/guide") Guide
          | |
          a(href="/about") About
          | |
          a(href="/discord") Chat
          | |
          a(href="/employers") For Employers
          | |
          a(href="/login") Login
      div
        block content
      div
        | (c) 2022 Zero Projects Inc
