html 
  head 
    title Mintbean
    link(rel="stylesheet", href="/static/reset.css")
    link(rel="stylesheet", href="/static/base.css")
    link(rel="stylesheet", href="/static/utils.css")
    link(rel="stylesheet", href="/static/form.css")
  body
    div(style="padding: 48px; max-width: 800px")
      div.section
        h1.text-xl Mintbean
        h2.text-lg Hiring challenges for junior tech folks.
        div
          a(href="/") Home
          | |
          a(href="/guide") Guide
          | |
          a(href="/about") About
          | |
          a(href="/discord") Chat
          | |
          a(href="/employers") For Employers
          | |
          if isLoggedIn
            a(href="/auth/logout") Logout
          else
            a(href="/auth/login") Login
      div
        block content
      div
        | (c) 2022 Zero Projects Inc
