html 
  head 
    title Mintbean
    link(rel="stylesheet", href="/static/reset.css")
    link(rel="stylesheet", href="/static/base.css")
    link(rel="stylesheet", href="/static/utils.css")
    link(rel="stylesheet", href="/static/form.css")
  body
  div(style="width: 100%; height: 48px;")
    if flash
      if flash.success
        div(style="padding: 12px 48px; width: 100%; background-color: green; color: white;") #{flash.success}
      if flash.error
        div(style="padding: 12px 48px; width: 100%; background-color: red; color: white;") #{flash.error}
    div(style="padding: 48px; max-width: 800px")
      div.section
        div.flex.flex-row.gap-1
          h1.text-lg Mintbean: 
          h2.text-lg Hiring challenges for junior tech folks.
        div.flex.flex-row.gap-1
          a(href="/") Home
          | |
          a(href="/pages/discord") Chat
          | |
          if isLoggedIn
            a(href="/auth/logout") Logout
            | |
            span #{currentUser.name}
            if isAdmin
              | |
              a(href="/admin") Admin Panel
          else
            a(href="/auth/login") Login
      div.section
        block content
      div
        | (c) 2022 Zero Projects Inc
