extends ../layout.pug

block content
  div.section
    h1.text-xl #{challenge.title}
  div.section 
    div #{challenge.description}
  div.section 
    h3.text-lg Instructions
  div.section
    div #{challenge.instructions}