extends /common/views/layout.pug
include /thread/mixin/thread
include /common/views/mixins/card
include /common/views/mixins/markdown

block content
  div.section
    h1.text-xl #{project.title}
  div.section
    +card()
      div.text-lg #{project.user.name}
  div.section 
    +markdown(project.description)
  div.section 
    h3.text-lg Instructions
  div.section
    +markdown(project.instructions)
  if !"THREADS_ARE_DISABLED_RIGHT_NOW"
    .section 
      +thread(project.thread, commentTree)