include /thread/mixin/comment

mixin thread(thread, commentTree)
  .flex.flex-col
    .flex.flex-row.gap-2.section
      form.form(style="width: 100%")
        textarea(name='description') #{the_challenge && the_challenge.description || ''}
        input(type='submit', value="Add comment")
    .flex.flex-col
      .flex.flex-row.gap-2
        a(href="#") New
        | |
        a(href="#") Hot
      for commentNode in commentTree
        +comment(commentNode)
        
