include /thread/mixin/comment

mixin thread(thread, commentTree)
  .flex.flex-col
    .flex.flex-row.gap-2
      a(href="#") This week
      | |
      a(href="#") This month
      | |
      a(href="#") All time
      | | 
      a(href="#") Reply
    .flex.flex-col
      for commentNode in commentTree
        +comment(commentNode)
        
