extends /common/views/layout.pug
include /thread/mixin/thread
include /challenge/views/mixins/challenge_headers

block content
  +challenge_headers(challenge, "Project Gallery")
  div.section
    if projects.length === 0
      p No one has submitted a project yet.&nbsp;
        a(href="/challenge/" + challenge.id + "/submit-project") Be the first
    else
      table.submissions
        tr
          th Name 
          th User
          th Date
        for project in projects
          tr
            td
              a(href="/project/" + project.id) #{project.title}
            td #{project.user.name}
            td(title="#{formatDatetime(project.createdAt)}")  #{relativeTimeFromNow(project.createdAt)}
