extends /common/views/layout
include /challenge/views/mixins/challenge_headers
include /common/views/mixins/markdown
include /project/views/mixins/project_form

block content
  +challenge_headers(challenge, "Submit a Project")
  div.section
    +project_form({challengeId: challenge.id})(action="/project")
    