extends /common/views/layout.pug
include /common/views/mixins/markdown
include /thread/mixin/thread
include /challenge/views/mixins/challenge_headers

block content
  +challenge_headers()
  div.section
    h1.text-xl.bold #{challenge.title}
    +markdown(challenge.description)
  div.section 
    h3.text-xl.bold Instructions
  div.section
    +markdown(challenge.instructions)
  if !"THREADS_ARE_DISABLED_RIGHT_NOW"
    .section 
      +thread(challenge.thread, commentTree)