extends /common/views/layout.pug
include /thread/mixin/thread

block content
  div.section
    h1.text-xl.bold #{challenge.title}
  div.section 
    div #{challenge.description}
  div.section 
    h3.text-lg.bold Instructions
  div.section
    div #{challenge.instructions}
  if !"THREADS_ARE_DISABLED_RIGHT_NOW"
    .section 
      +thread(challenge.thread, commentTree)